# Archivos MAC

.DS_Store
.AppleDouble
.LOOverride

# Archivos Xcode

*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/

# Archivos Playgrounds

timeline.xctimeline
playground.xcworkspace
